alembic>=1.13.2
bcrypt>=4.0.1,<4.1.0
cryptography>=42.0.8
email-validator>=2.2.0
fastapi>=0.111.0
gradio>=4.44.0
passlib[bcrypt]>=1.7.4
pydantic-settings>=2.3.4
pydantic>=2.8.2
pymysql>=1.1.1
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.9
sqlalchemy>=2.0.31
uvicorn[standard]>=0.30.1
